@font-face {
    font-family: 'Andale Mono';
    src: local('Andale Mono'), local('Andale Mono'),
         url('../fonts/ANDALEMO.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
