@import "fonts.scss";
@import "normalize.scss";
@import "modules/variables.scss";
@import "modules/custom.scss";
@import "modules/animation.scss";



main {
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
}

:root {
    --font-family: "Andale Mono", sans-serif;
    --second-family: "Noto Serif Display", sans-serif;
  }

// header
@import "modules/header";

// footer
@import "modules/footer";

// shop
@import "modules/shop";



// cta-banner
.cta-banner {

    margin-bottom: 96px;

    &__wrapper {
        background: #f3f2ee;
        display: flex;
        justify-content: space-between;

        padding: 78px 68px;

        @media (max-width:1440px) {
            padding: 48px;
            gap: 40px;
        }
        @media (max-width:991px) {
            padding: 32px;
        }
        @media (max-width:767px) {
            flex-direction: column;
            padding: 48px 24px;
        }
    }

    &__form {
        width: 60%;

        @media (max-width:767px) {
            width: 100%;
        }

        h3 {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 31px;
            color: #0b0b0b;

            margin-bottom: 11px;
        }
        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 144%;
            color: #0b0b0b;    
        }
        input {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 18px;
            color: #0b0b0b;
            padding: 18px 26px;
            border-radius: 0;
            border: none;

            width: 35%;

            margin-right: 34px;
            margin-top: 56px;

            @media (max-width:1440px) {
                width: -webkit-fill-available;
                margin-right: 0;
                margin-bottom: 30px;
                
            }
            @media (max-width:767px) {
                margin-top: 0px;
            }
        }
        button {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 18px;
            color: #0b0b0b;
            border: 1px solid #0b0b0b;
            padding: 18px 74px;

            @media (max-width:1440px) {
                padding: 18px 32px;
                width: 100%;
            }
        }
    }

    &__input {
        margin-bottom: 96px;

        @media (max-width:1440px) {
            display: flex;
            flex-direction: column;
        }
        @media (max-width:1099px) {
            margin-bottom: 46px;
        }
    }

    &__socials {
        display: flex;
        gap: 16px;
        a {
            text-decoration: none;
        }
    }

    &__info {
        h4 {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 21px;
            line-height: 129%;
            color: #0b0b0b;

            opacity: 0.8;

           
        }

        div:nth-child(1) > h4 {
            color: #b96a4a;
            margin-bottom: 15px;
        }

        h5 {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 21px;
            line-height: 172%;
            color: #0b0b0b;
            margin: 0 0 11px;
        }

        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 144%;
            color: #0b0b0b;

            display: flex;
            align-items: center;
            gap: 12px;
        }

         div:nth-child(1) > p {
            margin: 11px 0 89px;
         }
    }
}


.section {

    &-title {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 68px;
        color: #0b0b0b;

        margin-bottom: 24px;
        margin-top: 0px;

        &--secondary {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 21px;
            line-height: 129%;
            color: #0b0b0b;

            margin-bottom: 30px;

            &.text-center--mobile {
                @media (max-width:767px) {
                    text-align: center;
                }
            }
        }


        &.text-center {
            text-align: center;
        }
        &.text-left--mobile {
            @media (max-width:767px) {
                text-align: left;
            }
        }
        &.text-sm--mobile {
            @media (max-width:467px) {
                font-size: 24px;
            }
        }
    }

    &-subtitle {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 21px;
        line-height: 129%;
        color: #0b0b0b;

        &.text-center {
            text-align: center;
        }
        &.text-left--mobile {
            @media (max-width:767px) {
                text-align: left;
            }
        }
    }

    &-divider {
        padding: 102px 0;

        &__border {
            background-color: #cecece;
            width: 100%;
            height: 1px;

        }
    }
}

.ui__button {

    &-primary {
        display: flex;
        align-items: center;

        text-decoration: none;

        border: 2px solid #000;

        padding: 16px;

        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        color: #0b0b0b;

        position: relative;

        width: fit-content;

        span {
            display: flex;         
            margin-left: 16px;

            &::before {
                content: "";
                position: absolute;
                height: 55px;
                width: 2px;
                top: 0;
                
                background-color: #000;
            }

            svg {
                margin-left: 16px;
            }
        }
    }
    &-secondary {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: #0b0b0b;    
        text-decoration: none;
        margin-top: 30px;
    }
}















// new articles
.new-articles {

    margin-bottom: 140px;

    // Wrapper for the entire section
    &__wrapper {
      display: flex;
      justify-content: space-between;
    }
  
    // Title of the section
    &__title {
        max-width: 400px; // Limit title width

        .ui__button-primary {
            margin-top: 47px;
        }
    }

    &__card {
        text-decoration: none;

        img {
            width: 100%;
            object-fit: cover;
        }
        h4 {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 30px;
            color: #0b0b0b;

            margin: 30px 0 12px;
            
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 144%;
            color: #0b0b0b;    
        }

        
    }
  
    // Swiper container styles
    &__swiper {
     
      position: relative;  // To position custom navigation arrows inside this container
      overflow: hidden;
      max-width: 1160px;
  
      // Swiper wrapper (the container of all the slides)
      .swiper-wrapper {
        display: flex;
        flex-direction: row;  // Ensure slides are placed horizontally
      }
  
      // Individual slides inside the swiper
      .swiper-slide {
        width: 25%;  // Each slide takes up 1/4th of the container (showing 4 slides at once)
        height: 100%; // Height of each slide is 100% of the swiper container
        flex-shrink: 0;  // Prevent slides from shrinking when resizing the container
        max-width: 290px;
      }
  
      // Custom navigation arrows (Next and Previous)
      &-button-next,
      &-button-prev {
        position: absolute;
        top: 34%;  // Vertically center the arrows
        transform: translateY(-50%);  // Align the arrows exactly in the middle
        
        
        
        font-size: 18px;  // Font size of the arrows
        cursor: pointer;  // Change the cursor to indicate interactivity
      }
  
      // Position the "Next" arrow on the right
      &-button-next {
        right: 0px;
      }
  
      // Position the "Prev" arrow on the left
      &-button-prev {
        
      }
    }
}


// top stories
.top-stories {

    margin-bottom: 93px;

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;
    }

    &__card {
        img {
            width: 100%;
            object-fit: cover;
        }
        h5 {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 21px;
            line-height: 129%;
            color: #b96a4a;
        }
        p {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 21px;
            line-height: 172%;
            color: #0b0b0b;
        }
    }
}

// top stories banner
.top-stories-banner {

    margin-bottom: 131px;

    .container {
        position: relative;
    }
    
    &__title {
        font-family: var(--second-family);
        font-style: italic;
        font-weight: 400;
        font-size: 21px;
        line-height: 172%;
        text-align: center;
        color: #0b0b0b;   
        position: absolute;
        top: 90px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    &__wrapper {
        background: #f2f0ec;
        padding: 170px 135px 70px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;

        
    }
}

// our mission
.our-mission {
    
    &__title {
        display: flex;
        justify-content: space-between;

        margin-bottom: 70px;
    
        h4 {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 68px;
            color: #0b0b0b;    
        }
        p {
            max-width:900px;
        }
    }

    &__wrapper {
        display: flex;
        gap: 20px;
    }
    &__card {
        img {
            width: 100%;
            object-fit: cover;
        }
        h4 {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 31px;
            color: #0b0b0b;

            margin: 30px 0 12px;
        }
        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 144%;
            color: #0b0b0b;
        }
        .ui__button-secondary {
            margin: 50px 0 0 ;
        }
    }

    
}

// text section
.text-section {
    margin-bottom: 160px;


    &__wrapper {
        display: flex;
    }

    
    &__title {
        display: flex;
        flex-direction: column;

        

        h3 {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 68px;
            color: #0b0b0b;

            margin-bottom: 14px;
        }

        h4 {
            font-family: var(--second-family);
            font-style: italic;
            font-weight: 300;
            font-size: 36px;
            color: #b96a4a;

            margin: 0;
        }
    }
    &__subtitle {
        display: flex;
        flex-direction: column;

        max-width: 900px;
    }
}

// main gallery
.main-gallery {
    margin-bottom: 50px;
    &__wrapper {
        display: flex;
    }
    &__img {
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}

// info section
.info-section {
    background: #f2f0ec;
    margin-bottom: 142px;

    @media (max-width:767px) {
        margin-bottom: 156px;
    }

    .container {
        margin: 0 auto 0 0;


        @media (max-width:1440px) {
            padding-left: 0;
        }
        @media (max-width:768px) {
            padding: 0 0;
        }
        
    }

    .section-title {
        @media (max-width:1440px) {
            font-size: 48px;
        }
        @media (max-width:767px) {
            font-size: 32px;
        }
    }
    .section-subtitle {
        @media (max-width:767px) {
            font-size: 18px;
        }
        @media (max-width:467px) {
            font-size: 16px;
        }
    }

    &__wrapper {
        display: flex;
        gap: 81px;
        width: 100%;    

        @media (max-width:1440px) {
            gap: 40px;
        }
        @media (max-width:768px) {
            flex-direction: column;
        }
        @media (max-width:567px) {
            gap: 30px;
        }
    }   

    &__img {
        display: flex;
        width: 815px;
        height: 856px;
        @media (max-width:768px) {
            width: 100%;
            height: 100%;
            aspect-ratio: 1 / 1;
        }
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width:768px) {
            padding: 0 30px;
        }
        @media (max-width:467px) {
            padding: 0 24px;
        }
    }


    &__text {
        h3 {
            max-width: 867px;
        }
        p {
            max-width: 867px;
        }
    }

    &__cards {
        display: flex;
        gap: 44px;
        margin-top: 44px;

        @media (max-width:767px) {
            padding-bottom: 40px;
        }

        .swiper-wrapper {
            display: flex;
            gap: 44px;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        

        max-width: 234px;
        aspect-ratio: 1 / 1;

        img {
            display: flex;
            width: 100%;
            object-fit: cover;

            max-width: 234px;
            aspect-ratio: 1 / 1;
        }
        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 144%;
            color: #0b0b0b;    

            
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}

// info blocks
.info-blocks {
    margin-bottom: 83px;

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
    &__block {
        h4 {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 21px;
            line-height: 129%;
            text-transform: uppercase;
            text-align: center;
            color: #b96a4a;
        }
        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 144%;
            text-align: center;
            color: #0b0b0b;
        }
    }

}









// travel articles
.travel-articles {

    .section-subtitle {
        max-width: 1000px;
        margin: 0 auto;
    }

    &__wrapper {
        display: flex;
        gap: 60px;
        margin-top: 70px;
        margin-bottom: 100px;

        position: relative;

        @media (max-width:1440px) {
            gap: 30px;
        }

        &--desktop {
            @media (max-width:991px) {
                display: none;
            }
        }
        &--mobile {
            display: none;
            @media (max-width:991px) {
                display: flex;
                flex-direction: column;
            }
        }


        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #cecece;
            bottom: 0;

            @media (max-width:991px) {
                display: none;
                content: none;
            }
        }
    }

    &__img {

        img {
            @media (max-width:1919px) {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    &__col {

        display: flex;
        flex-direction: column;
        gap: 160px;

        position: relative;

        &--mobile {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }

        .travel-articles__card:last-of-type {
            padding-bottom: 150px;

            @media (max-width:991px) {
                padding-bottom: 0;
            }
        }

        &.travel-articles__left {

            &::after {
                content: '';
                position: absolute;
                height: 100%;
                width: 1px;
                background-color: #cecece;
                right: -30px;

                @media (max-width:1440px) {
                    right: -15px;
                }

                @media (max-width:991px) {
                    display: none;
                    content: none;
                }
            }

        }

        &.travel-articles__right {

            &::after {
                content: '';
                position: absolute;
                height: 100%;
                width: 1px;
                background-color: #cecece;
                left: -30px;

                @media (max-width:1440px) {
                    left: -15px;
                }

                @media (max-width:991px) {
                    display: none;
                    content: none;
                }
            }
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        text-decoration: none;


        img {
            display: flex;
            width: 100%;
            object-fit: cover;
        }

        h4 {
            margin: 30px 0 16px;

            font-family: var(--second-family);
            font-weight: 400;
            font-size: 31px;
            color: #0b0b0b;


            @media (max-width:991px) {
                font-size: 24px;
                margin: 20px 0 10px;
            }
            @media (max-width:567px) {
                font-size: 20px;
            }

            
        }

        

        p, span {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 144%;
            color: #0b0b0b;  
            
            margin: 0;

            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }

    div.travel-articles__wrapper.travel-articles__wrapper--mobile > a:nth-child(4) > h4 {
        @media (max-width:991px) {
            margin-top: 0;
        }
    }
}

// travel guides
.travel-guides {
    margin-bottom: 140px;

    @media (max-width:1024px) {
        margin-bottom: 100px;
    }
    @media (max-width:467px) {
        margin-bottom: 70px;
    }
    &__card {
        display: flex;

        img {
            display: flex;
            object-fit: cover;
            width: 100%;
        }
    }

    &__slider {
        display: flex;
        .swiper-wrapper {
            display: flex;

            .swiper-slide {
                @media (max-width:767px) {
                    
                }
            }
        }
    }
}

// article-categories
.article-categories {
    margin-bottom: 115px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
    }
}

.article-category {
    display: flex;
    gap: 26px;

    @media (max-width:991px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width:767px) {
        gap: 20px;
    }
}


// article hero
.article-hero {
    margin-bottom: 132px;

    &__wrapper {
        display: flex;
        background: #f3f2ee;
    }

    .section-title {
        max-width: 700px;
    }

    &__title {
        width: 50%;
        aspect-ratio: 1 / 1;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img {
        width: 50%;
        aspect-ratio: 1 / 1;

        img {
            height: 100%;
            width: 100%;
            display: flex;
            object-fit: cover;
        }
    }
}

// article
.article {

    &__text {
        

        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #0b0b0b;

            

            max-width: 900px;
            margin:  0 auto 62px;
            
        }

        p:nth-child(1) {
            &::first-letter {

                float: left; 
                line-height: 1;
                margin-right: 24px;


                font-family: var(--second-family);
                font-weight: 400;
                font-size: 68px;
                text-align: center;
                color: #0b0b0b;
            }
        }

        
        
    }


    // banner
    &-banner {
        background: #000;
        display: flex;
        justify-content: space-between;
        max-width: 1320px;
        margin: 85px auto 85px;

        img {
            width: 100%;
            display: flex;
            object-fit: cover;

            max-width: 330px;
        }

        &__text {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 10px 26px;
        }
        &__title {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 31px;
            color: #fff;

            margin: 0 0 10px 0;
        }
        &__subtitle {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 144%;
            color: #fff;   

            margin: 0;

            max-width: 385px;
        }
    }
}

// article author
.article-author {

    margin-bottom: 153px;

    &__wrapper {
        display: flex;
        gap: 132px;
    }

    &__info {
        display: flex;
    }

    &__text {
        & > p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #0b0b0b;    
        }

        .section-divider {
            padding: 64px 0;
        }
    }

    &__author {
        display: flex;
        gap: 34px;
        margin-left: 43px;
    }

    &__avatar {
        img {
            width: 100%;
            object-fit: cover;
            display: flex;
            border-radius: 50%;

            max-width: 116px;
            max-height: 116px;
            aspect-ratio: 1;
        }
    }

    &__bio {
        h4 {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 31px;
            color: #0b0b0b;

            margin: 0 0 10px 0;
        }
        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 144%;
            color: #0b0b0b;    

            max-width: 385px;
        }
    }

}



// favorite picks
.favorite-picks {
    .section-title {
        margin-bottom: 82px;
    }
}


// gallery
.gallery {
    margin-bottom: 77px;

    @media (max-width:767px) {
        margin-bottom: 60px;
    }

    &-main {
        overflow: visible;
    }
}
.faces-of-humanity {
    display: flex; 
    gap: 20px;
    
    

    .section-title {
        @media (max-width:991px) {
            font-size: 56px;
        }
        @media (max-width:767px) {
            font-size: 46px;
        }
    }
    .section-subtitle {
        @media (max-width:991px) {
            font-size: 18px;
        }
    }


    @media (max-width:991px) {
        flex-direction: column;
        gap: 60px;
    }
  
    &__sidebar {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      background: transparent;
      padding: 20px;

      
      max-width: 385px;
      height: fit-content; 

      @media (max-width:991px) {
        position: relative;
        max-width: 100%;
        padding: 0;
      }

    }

    &__tabs {
        display: flex;
        flex-direction: column;
        gap: 10px;

        margin-top: 72px;
  
        @media (max-width:991px) {
            margin-top: 60px;
        }
    }
  
    &__tab {
        
        border-bottom: 1px solid #cecece;
        border-top: none;
        border-right: none;
        border-left: none;
        background-color: transparent;
        cursor: pointer;

        font-family: var(--font-family);
        font-weight: 400;
        font-size: 21px;
        line-height: 129%;
        color: #b96a4a;

        padding: 30px 4px 22px 4px;
        text-align: left;

        &--active {
          background: transparent;
          color: #0b0b0b;
        }
    }

    &__grid {
        display: none;

        &--active {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            
            gap: 20px 20px;
            grid-auto-flow: row;
            grid-template-areas:
              "photo-1 photo-1 photo-1 photo-1 photo-1 photo-2 photo-2 photo-2 photo-2 photo-2"
              "photo-1 photo-1 photo-1 photo-1 photo-1 photo-2 photo-2 photo-2 photo-2 photo-2"
              "photo-1 photo-1 photo-1 photo-1 photo-1 photo-3 photo-3 photo-3 photo-4 photo-4"
              "photo-5 photo-5 photo-5 photo-5 photo-5 photo-3 photo-3 photo-3 photo-4 photo-4"
              "photo-5 photo-5 photo-5 photo-5 photo-5 photo-3 photo-3 photo-3 photo-4 photo-4"
              "photo-6 photo-6 photo-7 photo-7 photo-7 photo-7 photo-8 photo-8 photo-8 photo-8"
              "photo-6 photo-6 photo-7 photo-7 photo-7 photo-7 photo-8 photo-8 photo-8 photo-8"
              "photo-6 photo-6 photo-7 photo-7 photo-7 photo-7 photo-9 photo-9 photo-9 photo-9"
              "photo-10 photo-10 photo-10 photo-10 photo-10 photo-10 photo-9 photo-9 photo-9 photo-9"
              "photo-10 photo-10 photo-10 photo-10 photo-10 photo-10 photo-9 photo-9 photo-9 photo-9";

              @media (max-width:767px) {
                display: grid; 
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
                
                gap: 12px 12px; 
                grid-template-areas: 
                  "photo-1 photo-1 photo-1 photo-1 photo-1 photo-1 photo-1 photo-1 photo-1 photo-1 photo-1 photo-1"
                  "photo-1 photo-1 photo-1 photo-1 photo-1 photo-1 photo-1 photo-1 photo-1 photo-1 photo-1 photo-1"
                  "photo-5 photo-5 photo-5 photo-5 photo-5 photo-5 photo-5 photo-5 photo-5 photo-5 photo-5 photo-5"
                  "photo-5 photo-5 photo-5 photo-5 photo-5 photo-5 photo-5 photo-5 photo-5 photo-5 photo-5 photo-5"
                  "photo-2 photo-2 photo-2 photo-2 photo-2 photo-2 photo-2 photo-2 photo-2 photo-2 photo-2 photo-2"
                  "photo-2 photo-2 photo-2 photo-2 photo-2 photo-2 photo-2 photo-2 photo-2 photo-2 photo-2 photo-2"
                  "photo-3 photo-3 photo-3 photo-3 photo-3 photo-3 photo-3 photo-4 photo-4 photo-4 photo-4 photo-4"
                  "photo-3 photo-3 photo-3 photo-3 photo-3 photo-3 photo-3 photo-4 photo-4 photo-4 photo-4 photo-4"
                  "photo-6 photo-6 photo-6 photo-6 photo-6 photo-7 photo-7 photo-7 photo-7 photo-7 photo-7 photo-7"
                  "photo-6 photo-6 photo-6 photo-6 photo-6 photo-7 photo-7 photo-7 photo-7 photo-7 photo-7 photo-7"
                  "photo-10 photo-10 photo-10 photo-10 photo-10 photo-10 photo-10 photo-10 photo-10 photo-10 photo-10 photo-10"
                  "photo-10 photo-10 photo-10 photo-10 photo-10 photo-10 photo-10 photo-10 photo-10 photo-10 photo-10 photo-10"
                  "photo-8 photo-8 photo-8 photo-8 photo-8 photo-8 photo-8 photo-8 photo-8 photo-8 photo-8 photo-8"
                  "photo-8 photo-8 photo-8 photo-8 photo-8 photo-8 photo-8 photo-8 photo-8 photo-8 photo-8 photo-8"
                  "photo-9 photo-9 photo-9 photo-9 photo-9 photo-9 photo-9 photo-9 photo-9 photo-9 photo-9 photo-9"
                  "photo-9 photo-9 photo-9 photo-9 photo-9 photo-9 photo-9 photo-9 photo-9 photo-9 photo-9 photo-9"; 
              
            }
        }

        .photo-1 { grid-area: photo-1; }
  
        .photo-2 { grid-area: photo-2; }
        
        .photo-3 { grid-area: photo-3; }
        
        .photo-4 { grid-area: photo-4; }
        
        .photo-5 { grid-area: photo-5; }
        
        .photo-6 { grid-area: photo-6; }
        
        .photo-7 { grid-area: photo-7; }
        
        .photo-8 { grid-area: photo-8; }
        
        .photo-9 { grid-area: photo-9; }
        
        .photo-10 { grid-area: photo-10; }

        
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}




  

  