@import "fonts.scss";
@import "normalize.scss";
@import "modules/variables.scss";
@import "modules/custom.scss";
@import "modules/animation.scss";



main {
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
}

:root {
    --font-family: "Andale Mono", sans-serif;
    --second-family: "Noto Serif Display", sans-serif;
  }

// header
@import "modules/header";

// shop
@import "modules/shop";



// cta-banner
.cta-banner {

    margin-bottom: 96px;

    &__wrapper {
        background: #f3f2ee;
        display: flex;
        justify-content: space-between;

        padding: 78px 68px;
    }

    &__form {
        width: 60%;

        h3 {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 31px;
            color: #0b0b0b;
        }
        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 144%;
            color: #0b0b0b;    
        }
        input {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 18px;
            color: #0b0b0b;
            padding: 18px 26px;
            border-radius: 0;
            border: none;

            width: 35%;

            margin-right: 34px;
            margin-top: 56px;
        }
        button {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 18px;
            color: #0b0b0b;
            border: 1px solid #0b0b0b;
            padding: 18px 74px;
        }
    }

    &__input {
        margin-bottom: 96px;
    }

    &__socials {
        display: flex;
        gap: 16px;
        a {
            text-decoration: none;
        }
    }
}


.section {

    &-title {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 68px;
        color: #0b0b0b;

        margin-bottom: 24px;
        margin-top: 0px;

        &--secondary {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 21px;
            line-height: 129%;
            color: #0b0b0b;

            margin-bottom: 30px;
        }


        &.text-center {
            text-align: center;
        }
    }

    &-subtitle {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 21px;
        line-height: 129%;
        color: #0b0b0b;

        &.text-center {
            text-align: center;
        }
    }

    &-divider {
        padding: 102px 0;

        &__border {
            background-color: #cecece;
            width: 100%;
            height: 1px;

        }
    }
}

.ui__button {

    &-primary {
        display: flex;
        align-items: center;

        text-decoration: none;

        border: 2px solid #000;

        padding: 16px;

        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        color: #0b0b0b;

        position: relative;

        width: fit-content;

        span {
            display: flex;         
            margin-left: 16px;

            &::before {
                content: "";
                position: absolute;
                height: 55px;
                width: 2px;
                top: 0;
                
                background-color: #000;
            }

            svg {
                margin-left: 16px;
            }
        }
    }
    &-secondary {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: #0b0b0b;    
        text-decoration: none;
        margin-top: 30px;
    }
}















// new articles
.new-articles {

    margin-bottom: 140px;

    // Wrapper for the entire section
    &__wrapper {
      display: flex;
      justify-content: space-between;
    }
  
    // Title of the section
    &__title {
        max-width: 400px; // Limit title width

        .ui__button-primary {
            margin-top: 47px;
        }
    }

    &__card {
        text-decoration: none;

        img {
            width: 100%;
            object-fit: cover;
        }
        h4 {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 30px;
            color: #0b0b0b;

            margin: 30px 0 12px;
            
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 144%;
            color: #0b0b0b;    
        }

        
    }
  
    // Swiper container styles
    &__swiper {
     
      position: relative;  // To position custom navigation arrows inside this container
      overflow: hidden;
      max-width: 1160px;
  
      // Swiper wrapper (the container of all the slides)
      .swiper-wrapper {
        display: flex;
        flex-direction: row;  // Ensure slides are placed horizontally
      }
  
      // Individual slides inside the swiper
      .swiper-slide {
        width: 25%;  // Each slide takes up 1/4th of the container (showing 4 slides at once)
        height: 100%; // Height of each slide is 100% of the swiper container
        flex-shrink: 0;  // Prevent slides from shrinking when resizing the container
        max-width: 290px;
      }
  
      // Custom navigation arrows (Next and Previous)
      &-button-next,
      &-button-prev {
        position: absolute;
        top: 34%;  // Vertically center the arrows
        transform: translateY(-50%);  // Align the arrows exactly in the middle
        
        
        
        font-size: 18px;  // Font size of the arrows
        cursor: pointer;  // Change the cursor to indicate interactivity
      }
  
      // Position the "Next" arrow on the right
      &-button-next {
        right: 0px;
      }
  
      // Position the "Prev" arrow on the left
      &-button-prev {
        
      }
    }
}


// top stories
.top-stories {

    margin-bottom: 93px;

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;
    }

    &__card {
        img {
            width: 100%;
            object-fit: cover;
        }
        h5 {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 21px;
            line-height: 129%;
            color: #b96a4a;
        }
        p {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 21px;
            line-height: 172%;
            color: #0b0b0b;
        }
    }
}

// top stories banner
.top-stories-banner {

    margin-bottom: 131px;

    .container {
        position: relative;
    }
    
    &__title {
        font-family: var(--second-family);
        font-style: italic;
        font-weight: 400;
        font-size: 21px;
        line-height: 172%;
        text-align: center;
        color: #0b0b0b;   
        position: absolute;
        top: 90px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    &__wrapper {
        background: #f2f0ec;
        padding: 170px 135px 70px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;

        
    }
}

// our mission
.our-mission {
    
    &__title {
        display: flex;
        justify-content: space-between;

        margin-bottom: 70px;
    
        h4 {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 68px;
            color: #0b0b0b;    
        }
        p {
            max-width:900px;
        }
    }

    &__wrapper {
        display: flex;
        gap: 20px;
    }
    &__card {
        img {
            width: 100%;
            object-fit: cover;
        }
        h4 {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 31px;
            color: #0b0b0b;

            margin: 30px 0 12px;
        }
        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 144%;
            color: #0b0b0b;
        }
        .ui__button-secondary {
            margin: 50px 0 0 ;
        }
    }

    
}

// text section
.text-section {
    margin-bottom: 160px;


    &__wrapper {
        display: flex;
    }

    
    &__title {
        display: flex;
        flex-direction: column;

        

        h3 {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 68px;
            color: #0b0b0b;

            margin-bottom: 14px;
        }

        h4 {
            font-family: var(--second-family);
            font-style: italic;
            font-weight: 300;
            font-size: 36px;
            color: #b96a4a;

            margin: 0;
        }
    }
    &__subtitle {
        display: flex;
        flex-direction: column;

        max-width: 900px;
    }
}

// main gallery
.main-gallery {
    margin-bottom: 50px;
    &__wrapper {
        display: flex;
    }
    &__img {
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}

// info section
.info-section {
    background: #f2f0ec;
    margin-bottom: 142px;

    .container {
        margin: 0 auto 0 0;
    }

    &__wrapper {
        display: flex;
        gap: 81px;
        width: 100%;    
    }   

    &__img {
        display: flex;
        width: 815px;
        height: 856px;
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    &__text {
        h3 {
            max-width: 867px;
        }
        p {
            max-width: 867px;
        }
    }

    &__cards {
        display: flex;
        gap: 44px;
        margin-top: 44px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        

        max-width: 234px;
        aspect-ratio: 1 / 1;

        img {
            display: flex;
            width: 100%;
            object-fit: cover;

            max-width: 234px;
            aspect-ratio: 1 / 1;
        }
        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 144%;
            color: #0b0b0b;    

            
        
        }
    }
}

// info blocks
.info-blocks {
    margin-bottom: 83px;

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
    &__block {
        h4 {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 21px;
            line-height: 129%;
            text-transform: uppercase;
            text-align: center;
            color: #b96a4a;
        }
        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 144%;
            text-align: center;
            color: #0b0b0b;
        }
    }

}









// travel articles
.travel-articles {

    .section-subtitle {
        max-width: 1000px;
        margin: 0 auto;
    }

    &__wrapper {
        display: flex;
        gap: 60px;
        margin-top: 70px;
        margin-bottom: 100px;

        position: relative;


        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #cecece;
            bottom: 0;
        }
    }

    &__col {

        display: flex;
        flex-direction: column;
        gap: 160px;

        position: relative;

        .travel-articles__card:last-of-type {
            padding-bottom: 150px;
        }

        &.travel-articles__left {

            &::after {
                content: '';
                position: absolute;
                height: 100%;
                width: 1px;
                background-color: #cecece;
                right: -30px;
            }

        }

        &.travel-articles__right {

            &::after {
                content: '';
                position: absolute;
                height: 100%;
                width: 1px;
                background-color: #cecece;
                left: -30px;
            }
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        text-decoration: none;


        img {
            display: flex;
            width: 100%;
            object-fit: cover;
        }

        h4 {
            margin: 30px 0 16px;

            font-family: var(--second-family);
            font-weight: 400;
            font-size: 31px;
            color: #0b0b0b;
        }

        p, span {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 144%;
            color: #0b0b0b;  
            
            margin: 0;
        }
    }
}

// travel guides
.travel-guides {
    margin-bottom: 140px;
    &__card {
        display: flex;

        img {
            display: flex;
            object-fit: cover;
            width: 100%;
        }
    }

    &__slider {
        display: flex;
        .swiper-wrapper {
            display: flex;
        }
    }
}

// article-categories
.article-categories {
    margin-bottom: 115px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
    }
}

.article-category {
    display: flex;
    gap: 26px;
}


// article hero
.article-hero {
    margin-bottom: 132px;

    &__wrapper {
        display: flex;
        background: #f3f2ee;
    }

    .section-title {
        max-width: 700px;
    }

    &__title {
        width: 50%;
        aspect-ratio: 1 / 1;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img {
        width: 50%;
        aspect-ratio: 1 / 1;

        img {
            height: 100%;
            width: 100%;
            display: flex;
            object-fit: cover;
        }
    }
}

// article
.article {

    &__text {
        

        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #0b0b0b;

            

            max-width: 900px;
            margin:  0 auto 62px;
            
        }

        p:nth-child(1) {
            &::first-letter {

                float: left; 
                line-height: 1;
                margin-right: 24px;


                font-family: var(--second-family);
                font-weight: 400;
                font-size: 68px;
                text-align: center;
                color: #0b0b0b;
            }
        }

        
        
    }


    // banner
    &-banner {
        background: #000;
        display: flex;
        justify-content: space-between;
        max-width: 1320px;
        margin: 85px auto 85px;

        img {
            width: 100%;
            display: flex;
            object-fit: cover;

            max-width: 330px;
        }

        &__text {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 10px 26px;
        }
        &__title {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 31px;
            color: #fff;

            margin: 0 0 10px 0;
        }
        &__subtitle {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 144%;
            color: #fff;   

            margin: 0;

            max-width: 385px;
        }
    }
}

// article author
.article-author {

    margin-bottom: 153px;

    &__wrapper {
        display: flex;
        gap: 132px;
    }

    &__info {
        display: flex;
    }

    &__text {
        & > p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #0b0b0b;    
        }

        .section-divider {
            padding: 64px 0;
        }
    }

    &__author {
        display: flex;
        gap: 34px;
        margin-left: 43px;
    }

    &__avatar {
        img {
            width: 100%;
            object-fit: cover;
            display: flex;
            border-radius: 50%;

            max-width: 116px;
            max-height: 116px;
            aspect-ratio: 1;
        }
    }

    &__bio {
        h4 {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 31px;
            color: #0b0b0b;

            margin: 0 0 10px 0;
        }
        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 144%;
            color: #0b0b0b;    

            max-width: 385px;
        }
    }

}



// favorite picks
.favorite-picks {
    .section-title {
        margin-bottom: 82px;
    }
}