// SCSS Footer Styles

.footer {
    padding: 40px 0;
    background-color: #ffffff;
    font-family: 'Sen', sans-serif;
  
    &__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      
      margin: 0 auto;

      @media (max-width:1440px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
      @media (max-width:767px) {
        grid-template-columns: 1fr 1fr;
      }
    }
    
    &__heading {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        color: #0b0b0b;
        margin-bottom: 18px;
    }

    &__column {
        flex: 1;
      margin-bottom: 20px;
  
      &--brand {
        max-width: 250px;
        margin-right: 113px;

        @media (max-width:1440px) {
          margin-right: 0;
          margin-bottom: 62px;
        }
        @media (max-width:767px) {
          max-width: 100%;
          grid-column: 1 / -1;
        }
  
        .footer__logo {
          font-size: 1.8rem;
          font-weight: bold;
          line-height: 1.2;
          
          margin-bottom: 12px;
        }
  
        .footer__tagline {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 157%;
            color: #0b0b0b;
        }
      }
  
      &--navigation,
      &--company,
      &--legal {
        .footer__heading {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 16px;
            color: #0b0b0b;
            margin-bottom: 18px;
            text-transform: uppercase;
        }
  
        .footer__list {
          list-style: none;
          padding: 0;
  
          .footer__item {
            margin-bottom: 5px;
  
            a {
              text-decoration: none;
              font-family: var(--font-family);
              font-weight: 400;
              font-size: 14px;
              color: #0b0b0b;

              text-transform: uppercase;
  
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      &--legal {
        @media (max-width:1440px) {
          margin-bottom: 61px;
        }

        @media (max-width:767px) {
          grid-column: -1 / 1;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 50%;
          margin-left: auto;
        }
      }
  
      &--app {
        text-align: left;
        flex: 2;
        max-width: 450px;

        @media (max-width:1440px) {
          grid-column: 1 / -1;
        }
        @media (max-width:767px) {
          margin: 0 0 64px 0;
        }

        .footer__qr {
          margin-bottom: 10px;
          display: flex;
          gap: 24px;
  
          img {
            max-width: 100px;
            height: auto;
            object-fit: cover;
          }
        }
  
        .footer__description {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            color: #0b0b0b;
        }
      }
    }
  
    &__copyright {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        color: #0b0b0b;

        text-transform: uppercase;
    }
  }
  